.contacto-section {
  overflow: hidden;
  height: 100vh;
  background-color: #eaebed;
}

.contacto-div {
  height: 100vh ;
  width: 49.4vw ;
  display: inline-block ;
  @media(max-width: 380px){
    display: flex;
    flex-direction: column;
    width: 100vw ;
    height: 70vh ;
  }
}

#contacto-left {
  vertical-align: top ;
  font-family: 'Montserrat', sans-serif ;
  color: black;
  h1{
    font-weight: 600;
    font-size: 4rem;
    margin-top: 10%;
    text-align: left;
    padding: 0 20px;
    
  }
  h5{
    margin-top: 10%;
    text-align: left;
    padding: 0 20px;
    font-size: 1.5rem;
  }
  @media(max-width: 380px){
    vertical-align: center ;
    height: 50%;
    h1{
      font-weight: 600;
      font-size: 2rem;
      margin-top: 10%;
      text-align: left;
      padding: 0 20px;
      
    }
    h5{
      margin-top: 10%;
      text-align: left;
      padding: 0 20px;
      font-size: 1rem;
    }
  }
  
}

#contacto-right {
  background-image: url("./../../images/contacto2.png");
  background-size: auto 100vh;
  background-position-x: left;
  background-position-y: top;
  

}

.contacto-div-top {
  overflow: hidden;
  height: 100%;
  position: relative;
  text-align: center;
  @media(max-width: 380px){
    height: 50%;
    
  }
  
}
.contacto-quote {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;

  @media(max-width: 380px){
    width: 500px;
    top: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
