
.conocenos-section{
    // background-image: url('../../images/pexels-fox-1595385.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    cursor:none;
    // background-image: linear-gradient( -45deg,#99004d	 0%, #4c0099 100% );
    background-image: linear-gradient( -45deg, #9b23ea 0%, $purple 100%);

    
    
    overflow: hidden;
    text-decoration-line: none
    
  }

  
  .conocenos-container-home{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.36363636em;
    line-height: 1.5;  
    margin-bottom: 10%;  
    
    
    .scene {
      position: relative;            
      // text-align: center;      
    }

    .magic {
      z-index: 5;
      position: absolute;
      top: calc(50% - 20rem);
      left: calc(50% - 20rem);
      width: 10rem;
      height: 10rem;
      background: url('../../images/pexels-fox-1595385.jpg') 50% 50% no-repeat fixed;
      background-size: cover;
      border-radius: 50%;    
      line-height: 10rem;
      #texto{
        background-color: rgba(0,0,0,0.4);
        border-radius: 50%;
      }
      @media (max-width: 500px){
        display: none;
      }
    }
  
    
    .content{    
      width: 80%;
      margin: 0 auto;
      font-weight: 100;
      
      .description{
        margin-bottom: 40px;  
        margin-top: 10%;
      }
      h2{
        font-weight: 300;
        margin-bottom: 40px; 
        text-decoration: none; 
      }
      p{      
        margin-bottom: 40px;  
      }
      
    }
  }

  
//conocenos detalle

.conocenos-div-img{
  overflow: hidden;
  height: 400px;
  position: relative;
  text-align: center;
    img{
      position:relative;
      width: 100%;
      top: 20px;
    }
}

.conocenos-container{
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.36363636em;
  line-height: 1.5;  
  margin-bottom: 10%;  
  .content{    
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
    .description{
      margin-bottom: 40px;  
      margin-top: 10%;
    }
    h2{
      font-weight: 300;
      margin-bottom: 40px;  
    }
    p{      
      margin-bottom: 40px;  
    }
    
  }
}



//teamMember
.teamMember-container{
  margin-bottom: 50px;
  color: white;
  text-align: center;
  .name{
    margin-top: 10px;
    font-weight: bold;
  }
  .descripcion{
    margin-top: 10px;
    font-weight: 300;
  }
  img{ 
    border: 2px solid white;
  }

}
