.conocenos-section{      
  background-image: linear-gradient( -45deg, #9b23ea 0%, $purple 100%);
  position: relative;
  text-decoration-line: none  ;
  overflow: hidden;  
  color: white;  
}
.conocenos-texto{
  overflow: hidden;
    
  }

  .titulo-conocenos{
    font-weight: 700;
    font-size: 15vw;
    text-align: right;    
    @media(max-width: 400px){
      font-size: 70px !important;
      text-align: start!important; 
    }
  }

  .informacion-conocenos{
    font-size: 25px;
    text-align: start; 
    margin-top: 100px;
      
      


    @media(max-width: 400px){
      margin-top:100px;
      font-size: 15px !important;
      text-align: center!important; 
    }

  }

  .boton-conocenos{
    margin-top:0px ;
    display: none;
    @media(max-width: 500px){
      margin-top:50px ;
      display: block;
    }
  }
.figuras{
  position: absolute;
}
  .triangulo{
    margin-left: 700px;
    margin-top: 0vh;
    overflow: hidden;
    width: 800px;
    height: 800px;
    background: rgba(0,0,0,0.3);
    border-radius: 1000px;
}

.circulo {
  overflow: hidden;
  margin-top: -110vh;
  margin-left: -20vw;
  width: 800px;
  height: 800px;
  background: rgba(0,0,0,0.2);
  border-radius: 1000px;
}

///Mouse Hover Image Start
.container {
  height: 100vh; 
  
  .mask-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    
  }  
  .mask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;    
  }
  .mask-content {    
    position: absolute;
    top: 0;
    left: 0;      
    .team{
      height: 120%;
      width: 150%;
      /* Location of the image */
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/hover-reveal.jpg);
      
      /* Background image is centered vertically and horizontally at all times */
      background-position: center center;
      
      /* Background image doesn't tile */
      //background-repeat: no-repeat;
      
      /* Background image is fixed in the viewport so that it doesn't move when 
         the content's height is greater than the image's height */
      //background-attachment: fixed;
      
      /* This is what makes the background image rescale based
         on the container's size */
      background-size: cover;
      
      /* Set a background color that will be displayed
         while the background image is loading */
      background-color: #464646;
      
    }
    
    
    
    
  }
}
///Mouse Hover Image End
.ball {
  color: white;
  font-size: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 50%;
  z-index: 100;
  line-height: 50px;
}


//conocenos detalle

.conocenos-container{
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.36363636em;
  line-height: 1.5;  
  margin-bottom: 10%;  
  .content{    
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
    .description{
      margin-bottom: 40px;  
      margin-top: 10%;
    }
    h2{
      font-weight: 300;
      margin-bottom: 40px;  
    }
    p{      
      margin-bottom: 40px;  
    }
    
  }
}
section{
  height: 100vh;
  
  
}
//teamMember
.teamMember-container{
  margin-bottom: 50px;
  color: white;
  text-align: center;
  .name{
    margin-top: 10px;
    font-weight: bold;
  }
  .descripcion{
    margin-top: 10px;
    font-weight: 300;
  }
  img{ 
    border: 2px solid white;
  }

}

#sa-conocenos{
  position: fixed;
  background-color: #555;
  width: 1px;
  height: 10%;
  z-index: 10;
  top: 20%;
  right: 50%;
  animation: sc-anim 3s ease-in-out infinite ;
}

@keyframes sc-anim{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  70%{
    height: 60%;
    opacity: 1;
  }
  100%{
    height: 60%;
    opacity: 0;
  }
}

#sa-flecha{
  position: fixed;
  width: 5vh;
  height: 5%;
  bottom: 65%;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  border: 1px solid #555;
  border-top: none;
  border-left: none;
  animation: sc-arrow 3s ease-in-out infinite ;

}

@keyframes sc-arrow{
  0%{
    opacity: 0;
    bottom: 65%;
  }
  20%{
    opacity: 1;
  }
  70%{
    bottom: 10%;
    opacity: 1;
  }
  100%{
    opacity: 0;
    bottom: 5%;
  }
}


