

.explore-section{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  // background-image: linear-gradient( -45deg, #9b23ea 0%, $purple 100%);
  overflow: hidden;
  background-color: none;
}



.explore-container {
  display: flex;
  flex-flow: row wrap ;
  width: 100vw;
  height: 100vh;
  @media(max-width: 1024px){
  }
}

.explore-titulo{
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  @media(max-width: 370px){
    font-size: 3rem !important;
  }
  @media(max-width: 890px){
    font-size: 4rem;
  }
  font-size: 5rem;
  nav{
   
    ul{ 
      li{

        list-style: none;
        cursor: pointer;

        a{
          color: white;
          text-decoration: none;
          &:hover {
            color: $magenta;
          }
        }
      }
    }
  }
}

.explore-descripcion{
    display:flex;
    align-items: center;
    justify-content: center;
        p{
            text-align: center;
            color: white;
        }
    text-align: center;
    color: white;
}

.explore-option{
  animation: ex-animation 4s ease-in-out infinite ;
}

.ex-p2 {
  animation-delay: 1000ms;
}

.ex-p3{
  animation-delay: 2000ms;
}

.ex-p4{
  animation-delay: 3000ms;
}

@keyframes ex-animation{
  0%{
    opacity: 1;
  }
  13%{
    opacity: 0.3;
  }
  25%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

