

.explore-section{
  // background-image: linear-gradient( -45deg, #9b23ea 0%, $purple 100%);
  overflow: hidden;
  background-color: none;
}



.explore-container {
  display: flex;
  flex-flow: row wrap ;
  width: 100vw;
  height: 100vh;
  @media(max-width: 1024px){
  }
}

.explore-titulo{
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  @media(max-width: 320px){
    font-size: 3rem !important;
  }
  @media(max-width: 768px){
    font-size: 4rem;
  }
  font-size: 5rem;
  nav{
   
    ul{ 
      li{

        list-style: none;
        cursor: pointer;

        a{
          color: white;
          text-decoration: none;
          &:hover {
            color: $magenta;
          }
        }
      }
    }
  }
}

.explore-descripcion{
    display:flex;
    align-items: center;
    justify-content: center;
        p{
            text-align: center;
            color: white;
        }
    text-align: center;
    color: white;
}

