

.explore-section{
    background-color:red;
    
  }



.explore-container {


}

.explore-texto{ 
  nav {    
    ul {      
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 6rem;
        font-weight: 700;
        cursor: pointer;
        height: 140px;
        overflow: hidden;
        position: relative;
        a {
          position: absolute;
          color: #fff;
          text-decoration: none;
          &:hover {
            color: $magenta;
          }
        }
      }
    }
  }
}

.division-services{
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
        p{
            text-align: center;
            color: white;
        }
    text-align: center;
    color: white;
}