

#footer-main{
    height: auto !important;
    background-color: #eaebed;
    .copyright-main{
        padding: 30px 0;
        color: black !important;
        font-size: 0.9rem;
        font-weight: 600;
    }
}