
.display{
  display: block !important;
}

.display-none{
  display: none !important;
}

.header-navbar {
  z-index: 10 !important;
  position: fixed !important;
  width: 100vw!important;     
}

.navbar{
  padding: 1rem 4rem;
  @media(max-width: 576px){
    padding: 1rem 2rem !important;
  }
}

.navbar-nav{
  font-weight: 300 !important;
}



  