
.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 0;
  animation: cursor-animation 2s ease-in-out infinite;

  @media(max-width: 768px){
    display: none;
  }
}

@keyframes cursor-animation {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
.ball1 {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
  @media(max-width: 768px){
    display: none;
  }
}

@media (max-width: 540px) {
  .ball,
  .ball1 {
    display: none !important;
  }
}
